apiVersion: v1
kind: Secret
metadata:
  name: {{ costmetrics_secret_name }}
  namespace: {{ costmetrics_namespace }}
type: Opaque
data:
  client_id: "{{ costmetrics_client_id | b64encode }}"
  client_secret: "{{ costmetrics_client_secret | b64encode }}" 