{# This configuration file is the data: content of configmap rhdh-config-rbac-policy #}
##################################################################################
## Orch >= 1.4 - RBAC roles/permissions 
##################################################################################

##################################################################################
## All workflows rbac roles
##################################################################################
# workflowDenied role blocks read/write for all workflows
p, role:default/workflowDenied, orchestrator.workflow, read, deny
p, role:default/workflowDenied, orchestrator.workflow.use, update, deny

# workflowReadwrite role allows read/write for all workflows
p, role:default/workflowReadwrite, orchestrator.workflow, read, allow
p, role:default/workflowReadwrite, orchestrator.workflow.use, update, allow

# workflowReadwrite role allows readonly for all workflows
p, role:default/workflowReadonly, orchestrator.workflow, read, allow
p, role:default/workflowReadonly, orchestrator.workflow.use, update, deny

##################################################################################
## Fine grained auth roles and users 
##################################################################################
# Role to deny user from running/viewing Greeting workflow
p, role:default/workflowGreetingDenied, orchestrator.workflow.greeting, read, deny
p, role:default/workflowGreetingDenied, orchestrator.workflow.use.greeting, update, deny

# Role to allow read/write for Greeting workflow
p, role:default/workflowGreetingReadwrite, orchestrator.workflow.greeting, read, allow
p, role:default/workflowGreetingReadwrite, orchestrator.workflow.use.greeting, update, allow

# Role to allow readonly for Greeting workflow
p, role:default/workflowGreetingReadonly, orchestrator.workflow.greeting, read, allow
p, role:default/workflowGreetingReadonly, orchestrator.workflow.use.greeting, update, deny

# Role to allow read/write for  Onboarding workflow
p, role:default/workflowOnboardingReadwrite, orchestrator.workflow.user-onboarding, read, allow
p, role:default/workflowOnboardingReadwrite, orchestrator.workflow.use.user-onboarding, update, allow

## Fine Grain auth test users - All greeting workflow test users will have read/write for 
## onboarding workflow
g, user:default/greeting-wf-rbac-readwrite, role:default/workflowGreetingReadwrite
g, user:default/greeting-wf-rbac-readonly, role:default/workflowGreetingReadonly
g, user:default/greeting-wf-rbac-denied, role:default/workflowGreetingDenied
g, user:default/greeting-wf-rbac-readwrite, role:default/workflowOnboardingReadwrite
g, user:default/greeting-wf-rbac-readonly, role:default/workflowOnboardingReadwrite
g, user:default/greeting-wf-rbac-denied, role:default/workflowOnboardingReadwrite

##################################################################################
## Test cases OCP-83012 OCP-83013
##################################################################################
p, role:default/workflowUser, orchestrator.workflow.greeting, read, allow
p, role:default/workflowUser, orchestrator.workflow.use.greeting, update, allow
p, role:default/workflowAdmin, orchestrator.workflow, read, allow
p, role:default/workflowAdmin, orchestrator.workflow.use, update, allow
p, role:default/workflowAdmin, orchestrator.workflowAdminView, read, allow
p, role:default/workflowAdmin, orchestrator.instancesAdminView, read, allow
g, user:default/workflow-user-1, role:default/workflowUser
g, user:default/workflow-user-2, role:default/workflowUser
g, user:default/workflow-admin, role:default/workflowAdmin

##################################################################################
## Basic RBAC users with global workflow privilege defined 
##################################################################################
g, user:default/rhdh-orchestrator-test-rbac-denied, role:default/workflowDenied
g, user:default/rhdh-orchestrator-test-rbac-readwrite, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-rbac-readonly, role:default/workflowReadonly

##################################################################################
## Additional users with full global workflow read/write/execution
##################################################################################
g, user:default/rhdh-orchestrator-test-1, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-2, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-3, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-4, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-5, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-6, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-7, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-8, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-9, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-10, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-11, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-12, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-13, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-14, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-15, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-16, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-17, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-18, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-19, role:default/workflowReadwrite
g, user:default/rhdh-orchestrator-test-20, role:default/workflowReadwrite
g, user:default/ro-read-all, role:default/workflowReadwrite
g, user:default/ro-read-cluster, role:default/workflowReadwrite
g, user:default/ro-cluster-project, role:default/workflowReadwrite

##################################################################################
## resource optimization plugin roles
##################################################################################
p, role:default/RORead, ros.plugin, read, allow
p, role:default/ROCluster, ros.cluster73, read, allow
p, role:default/ROClusterProject, ros.cluster73.rhdh, read, allow

##################################################################################
## resource optimization test users
##################################################################################
g, user:default/ro-read-all, role:default/RORead
g, user:default/ro-read-cluster, role:default/ROCluster
g, user:default/ro-cluster-project, role:default/ROClusterProject

##################################################################################
## catalog plugin role: catalogSuperuser
## Workflow related permissions are allowed to use the catalog to run workflows
##################################################################################
p, role:default/catalogSuperuser, catalog.entity.read, read, allow
p, role:default/catalogSuperuser, catalog.entity.create, create, allow
p, role:default/catalogSuperuser, catalog.entity.delete, delete, allow
p, role:default/catalogSuperuser, catalog.entity.refresh, update, allow
p, role:default/catalogSuperuser, catalog.entity.validate, use, allow
p, role:default/catalogSuperuser, catalog.location.read, read, allow
p, role:default/catalogSuperuser, catalog.location.create, create, allow
p, role:default/catalogSuperuser, catalog.location.delete, delete, allow
p, role:default/catalogSuperuser, catalog.location.analyze, use, allow
p, role:default/catalogSuperuser, orchestrator.workflow.read, read, allow
p, role:default/catalogSuperuser, orchestrator.workflow.create, create, allow
p, role:default/catalogSuperuser, orchestrator.workflow.delete, delete, allow
p, role:default/catalogSuperuser, orchestrator.workflow.update, update, allow
p, role:default/catalogSuperuser, orchestrator.workflow.run, use, allow
p, role:default/catalogSuperuser, scaffolder.action.execute, use, allow
p, role:default/catalogSuperuser, scaffolder.task.create, create, allow
p, role:default/catalogSuperuser, scaffolder.task.read, read, allow
p, role:default/catalogSuperuser, scaffolder.task.update, update, allow
p, role:default/catalogSuperuser, scaffolder.task.delete, delete, allow
p, role:default/catalogSuperuser, scaffolder.template.parameter.read, read, allow
p, role:default/catalogSuperuser, scaffolder.template.step.read, read, allow

##################################################################################
## catalog plugin role: catalogSuperuserNoWorkflow
## This role is nearly identical to catalog-superuser but omits orchestrator.workflow permissions
##################################################################################
p, role:default/catalogSuperuserNoWorkflow, catalog.entity.read, read, allow
p, role:default/catalogSuperuserNoWorkflow, catalog.entity.create, create, allow
p, role:default/catalogSuperuserNoWorkflow, catalog.entity.delete, delete, allow
p, role:default/catalogSuperuserNoWorkflow, catalog.entity.refresh, update, allow
p, role:default/catalogSuperuserNoWorkflow, catalog.entity.validate, use, allow
p, role:default/catalogSuperuserNoWorkflow, catalog.location.read, read, allow
p, role:default/catalogSuperuserNoWorkflow, catalog.location.create, create, allow
p, role:default/catalogSuperuserNoWorkflow, catalog.location.delete, delete, allow
p, role:default/catalogSuperuserNoWorkflow, catalog.location.analyze, use, allow
p, role:default/catalogSuperuserNoWorkflow, scaffolder.action.execute, use, allow
p, role:default/catalogSuperuserNoWorkflow, scaffolder.task.create, create, allow
p, role:default/catalogSuperuserNoWorkflow, scaffolder.task.read, read, allow
p, role:default/catalogSuperuserNoWorkflow, scaffolder.task.update, update, allow
p, role:default/catalogSuperuserNoWorkflow, scaffolder.task.delete, delete, allow
p, role:default/catalogSuperuserNoWorkflow, scaffolder.template.parameter.read, read, allow
p, role:default/catalogSuperuserNoWorkflow, scaffolder.template.step.read, read, allow

##################################################################################
## catalog plugin test users for catalogSuperuser and catalogSuperuserNoWorkflow
##################################################################################
g, user:default/catalog-superuser, role:default/catalogSuperuser
g, user:default/catalog-superuser-no-workflow, role:default/catalogSuperuserNoWorkflow
