# to use this file, `pip install pip-tools -U` first, then
# pip-compile --allow-unsafe --output-file=requirements.txt --strip-extras requirements.in

babel
calver
certifi
charset-normalizer
click
colorama
Cython
editables
flit_core
ghp-import
idna
jinja2
markdown-inline-graphviz-extension
Markdown
markupsafe
mdx-truly-sane-lists
mergedeep
mkdocs-material-extensions
mkdocs-material
mkdocs-monorepo-plugin
mkdocs-techdocs-core
mkdocs
pathspec==1.0.4
# can't use the pypi package due to unpublished https://github.com/mikitex70/plantuml-markdown/blob/master/test-requirements.txt file, which makes hermeto sad
# plantuml-markdown==3.11.1
plantuml-markdown @ https://github.com/mikitex70/plantuml-markdown/archive/592837e9c26b9e92d711af42bce8fb8697183f9d.zip#cachito_hash=sha256:adb7dd7f1aa90a0fdb279f3ad58ede6cdc9eb826adc9d1405b02d4491e492df0
platformdirs
pygments
pymdown-extensions
python-dateutil
python-slugify
pyyaml-env-tag
pyyaml
regex
requests
six
text-unidecode
tomli
urllib3
watchdog
