# Development dependencies for building (not runtime)
# This file is not included in the production Docker image
#
# to use this file, `pip install pip-tools -U` first, then
# pip-compile --allow-unsafe --output-file=requirements-build.txt --strip-extras requirements-build.in

hatch-vcs
hatchling
hatch-nodejs-version
hatch-requirements-txt
packaging==26.0
pathspec==1.0.4
pluggy==1.6.0
setuptools-scm==7.1.0
trove-classifiers==2026.1.14.14
typing-extensions==4.15.0
wheel==0.46.3

setuptools==80.10.2
