{# backstage-backend-auth-secret secret is created from this file #}
BACKSTAGE_ROUTE=https://{{ backstage_route.stdout }}
BACKEND_SECRET={{ backstage_backend_secret }}
GITHUB_CLIENT_ID={{ orch_github_client_id }}
GITHUB_CLIENT_SECRET={{ orch_github_client_secret }}
GITHUB_TOKEN={{ orch_github_token }}
K8S_CLUSTER_TOKEN={{ orchestrator_sa.stdout |b64decode }}
K8S_CLUSTER_URL={{ k8s_cluster_url.stdout }}
NOTIFICATIONS_EMAIL_HOSTNAME={{ notification_email_hostname }}
NOTIFICATIONS_EMAIL_PASSWORD=''
NOTIFICATIONS_EMAIL_USERNAME={{ notification_email_username }}
{% if deploy_with_gitops|bool %}
ARGOCD_URL=https://{{ argocd_route.stdout }}
ARGOCD_USERNAME=admin
ARGOCD_PASSWORD={{ argocd_pass.stdout }} 
{% endif %}