# ARO disconnected deployment variables.
# Copy this file to .env and edit it. The .env file is ignored by git.
# Used by install-aro-disconnected.sh and create-azure-firewall-rules.sh on the local machine.

BASE_NAME=aro-disconnected
SUFFIX=6
LOCATION=eastus
RESOURCEGROUP=${BASE_NAME}_${SUFFIX}
CLUSTER=${BASE_NAME}_${SUFFIX}
VNET_NAME=${BASE_NAME}-vnet_${SUFFIX}
FIREWALL_NAME=${BASE_NAME}-firewall_${SUFFIX}
FIREWALL_COLLECTION_NAME=azure_ms
FIREWALL_ALLOWED_LIST_BASE="management.azure.com mirror.openshift.com login.microsoftonline.com gcs.prod.monitoring.core.windows.net *.blob.core.windows.net *.servicebus.windows.net *.table.core.windows.net"
FIREWALL_ALLOWED_LIST_INSTALL="*.quay.io sso.redhat.com registry.redhat.io management.azure.com mirror.openshift.com api.openshift.com registry.access.redhat.com"
BASTION_IMAGE=RedHat:RHEL:10_1:latest
SSH_KEY_NAME=azure-disconnected-key_${SUFFIX}
WORKER_COUNT=4
PULL_SECRET_FILE=pull-secret.txt
OPENSHIFT_VERSION=4.19.20
BASTION_NAME=bastion_${SUFFIX}
