apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ optimizer_namespace }}
data:
  authenticate: "true"
  clientId: {{ optimizer_client_id }}
  clientSecret: {{ optimizer_client_secret }}
  clusterName: {{ optimizer_cluster_name }}
  pollIntervalSeconds: "30"
  redhatRecommendationsUrl: https://console.redhat.com/api/cost-management/v1/recommendations/openshift
  redhatTokenUrl: https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
  term: workflow
  workflowUrl: http://patch-k8s-resource.{{ sonataflow_namespace }}/patch-k8s-resource 