apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-optimizer-to-sonataflow-infra
  namespace: {{ sonataflow_namespace }}
spec:
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: optimizer-ns-label
  podSelector: {}
  policyTypes:
  - Ingress 